@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__title {
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 75px;
  background-color: var(--text-dark);
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 0.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header__bar {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  background-color: var(--text-dark);
  color: var(--white);
}

.nav__container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link a {
  padding: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
}

.nav__icons {
  display: flex;
  gap: 1rem;
}

.nav__icons span {
  font-size: 1.25rem;
  cursor: pointer;
}



.header__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header__content p {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.header__content h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--text-dark);
}

.header__content .btn {
  background-color: var(--text-dark);
  color: var(--white);
}

.header__image {
  position: relative;
}

.header__image img {
  max-width: 400px;
  position: absolute;
  bottom: -5rem;
}

.collection__container {
  position: relative;
}

.collection__container img {
  max-width: 400px;
  margin: auto;
}

.collection__content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.collection__content .section__title {
  margin-bottom: 2rem;
}

.collection__content p {
  font-size: 0.9rem;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.collection__content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.collection__content .btn {
  border: 1px solid var(--text-dark);
  color: var(--text-dark);
  background-color: var(--white);
}

.collection__content .btn:hover {
  background-color: var(--text-dark);
  color: var(--white);
}

.sale__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.sale__card {
  position: relative;
  overflow: hidden;
}

.sale__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: var(--white);
  text-align: center;
}

.sale__title {
  font-size: 2rem;
  font-weight: 600;
}

.sale__title span {
  font-size: 2.5rem;
}

.sale__subtitle {
  font-size: 1rem;
}

.sale__btn {
  margin-top: 2rem;
  color: var(--white);
  background-color: var(--text-dark);
}

.sale__card::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.sale__card:hover::before {
  top: 0;
}

.sale__card:hover .sale__btn {
  color: var(--text-dark);
  background-color: var(--white);
}

.musthave__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.musthave__nav a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.musthave__nav a:hover {
  color: var(--text-dark);
}

.musthave__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.musthave__card {
  display: grid;
  gap: 0.5rem;
  color: var(--text-dark);
}

.musthave__card h4 {
  font-size: 1rem;
  font-weight: 600;
}

.musthave__card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.musthave__card p del {
  font-weight: 400;
  color: var(--text-light);
}

.news {
  background-color: var(--extra-light);
}

.news__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.news__details {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  text-align: center;
}

.news__details p {
  font-size: 0.8rem;
  color: var(--text-light);
}

.news__details p i {
  font-size: 0.5rem;
  color: var(--text-light);
  padding: 0.5rem;
}

.news__details p span {
  font-weight: 600;
}

.news__details h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.news__details a i {
  font-size: 1.2rem;
  color: var(--text-light);
  transition: 0.3s;
}

.news__details a:hover i {
  color: var(--text-dark);
}

.brands__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.brand__image {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}

.brand__image img {
  max-width: 120px;
}

.brand__image:hover {
  opacity: 1;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer__heading {
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.footer__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: var(--text-light);
}

.footer__col p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--text-dark);
}

.footer__col p i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.instagram__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.footer__bar {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.copyright {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.footer__form input {
  width: 100%;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-dark);
  font-size: 0.8rem;
}

.footer__form .btn {
  background-color: var(--text-dark);
  color: var(--white);
}

@media (width < 900px) {
  header {
    margin-top: 5rem;
  }

  .sale__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .musthave__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .news__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .brands__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .instagram__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__bar {
    grid-template-columns: repeat(1, 1fr);
  }

  .copyright {
    text-align: center;
  }

  .footer__form {
    justify-content: center;
  }
}

@media (width < 600px) {
  .nav__links {
    display: none;
  }

  header {
    margin-top: 0;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    display: none;
  }

  .sale__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .musthave__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .news__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .brands__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
body{
    margin: 0;
    font-family: Poppins;
}
svg{
    width: 30px;
}

a{
    text-decoration: none;
    color: #2F2F2F;
}
button{
    cursor: pointer;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: 0.5s;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
}

.cartTab{
    width: 400px;
    max-width: 100%;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #E8BC0E;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
/*  */
.cartTab{
    right: -400px;
    transition: 0.5s;
}
body.activeTabCart .cartTab{
    right: 0;
}
body.activeTabCart .container{
    transform: translateX(-250px);
}
/*  */

.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}
/*  */

.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .quantity{
    display: flex;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
/*  */

/* detail page */

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
}
.detail .image img{
    width: 100%;
}
.detail .image{
    position: relative;
}
.detail .image::before{
    position: absolute;
    width: 300px;
    height: 300px;
    content: '';
    background-color: #94817733;
    z-index: -1;
    border-radius: 190px 100px 170px 180px;
    left: calc(50% - 150px);
    top: 50px;

}
.detail .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
}
.detail .buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
}
.detail .buttons svg{
    width: 15px;
}
.detail .buttons span{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}
.detail .buttons button:nth-child(2){
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}
.detail .description{
    font-weight: 300;
}

/*  */

@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:  40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 767px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    } 
    .detail .name{
        font-size: x-large;
        margin: 0;

    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.title a {
    margin-right: 20px;
    text-decoration: none;
    color: #2F2F2F;
    transition: color 0.3s ease;
}

.title a:hover {
    color: #007bff; 
}

.icon-cart {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-cart svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    stroke: #333;
}

.icon-cart span {
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.logo img {
    width: 100px; 
    height: auto;
}
.title a:hover {
    color: #007bff; 
}
.info-image img {
    width: 150px; 
    height: auto;
    margin-top: 10px; 
}
.additional-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
}
.info-text {
    font-size: 24px;
    font-weight: bold;
}

.info-image img {
    width: 150px; 
    height: auto;
    margin-top: 10px; 
}